[submodule "components/fdkernel"]
	path = components/fdkernel
	url = https://github.com/FreeDOS-88VA/fdkernel.git
	branch = nec98-current
[submodule "components/freecom"]
	path = components/freecom
	url = https://github.com/FreeDOS-88VA/freecom_dbcs2.git
	branch = deterministic-build-timestamp
[submodule "components/country"]
	path = components/country
	url = https://github.com/FDOS/country.git
	branch = master
[submodule "components/edlin"]
	path = components/edlin
	url = https://github.com/FDOS/edlin.git
[submodule "components/jwasm"]
	path = components/jwasm
	url = https://github.com/FreeDOS-88VA/JWasm.git
	branch = m18-corresponding-source-notice
[submodule "components/find"]
	path = components/find
	url = https://github.com/FDOS/find.git
[submodule "components/kitten"]
	path = components/kitten
	url = https://github.com/FDOS/kitten.git
[submodule "components/tnyprntf"]
	path = components/tnyprntf
	url = https://github.com/FDOS/tnyprntf.git
[submodule "components/sort"]
	path = components/sort
	url = https://github.com/FDOS/sort.git
[submodule "components/xcopy"]
	path = components/xcopy
	url = https://github.com/FDOS/xcopy.git
[submodule "components/label"]
	path = components/label
	url = https://github.com/FDOS/label.git
[submodule "components/move"]
	path = components/move
	url = https://github.com/FDOS/move.git
[submodule "components/append"]
	path = components/append
	url = https://github.com/FDOS/append.git
[submodule "components/nlsfunc"]
	path = components/nlsfunc
	url = https://github.com/FDOS/nlsfunc.git
[submodule "components/devload"]
	path = components/devload
	url = https://github.com/FDOS/devload.git
[submodule "kitten-3b9947f"]
	path = components/kitten-3b9947f
	url = https://github.com/FDOS/kitten.git
[submodule "components/choice"]
	path = components/choice
	url = https://github.com/FreeDOS-88VA/choice.git
[submodule "components/deltree"]
	path = components/deltree
	url = https://github.com/FreeDOS-88VA/deltree.git
[submodule "components/comp"]
	path = components/comp
	url = https://github.com/FreeDOS-88VA/comp.git
[submodule "components/fc"]
	path = components/fc
	url = https://github.com/FreeDOS-88VA/fc.git
[submodule "components/attrib"]
	path = components/attrib
	url = https://github.com/FreeDOS-88VA/attrib.git
[submodule "components/tree"]
	path = components/tree
	url = https://github.com/FreeDOS-88VA/tree.git
[submodule "components/replace"]
	path = components/replace
	url = https://github.com/FreeDOS-88VA/replace.git
[submodule "components/exe2bin"]
	path = components/exe2bin
	url = https://github.com/FreeDOS-88VA/exe2bin.git
[submodule "components/unzip"]
	path = components/unzip
	url = https://github.com/FreeDOS-88VA/unzip.git
[submodule "components/zip"]
	path = components/zip
	url = https://github.com/FreeDOS-88VA/zip.git
[submodule "components/gzip"]
	path = components/gzip
	url = https://github.com/FreeDOS-88VA/gzip.git
[submodule "components/debug"]
	path = components/debug
	url = https://github.com/FreeDOS-88VA/DOS-debug.git
