[submodule "components/fdkernel"]
	path = components/fdkernel
	url = https://github.com/nakatamaho/fdkernel.git
	branch = nec98-current
[submodule "components/freecom"]
	path = components/freecom
	url = https://github.com/nakatamaho/freecom_dbcs2.git
	branch = deterministic-build-timestamp
[submodule "components/country"]
	path = components/country
	url = https://github.com/FDOS/country.git
	branch = master
[submodule "components/edlin"]
	path = components/edlin
	url = https://github.com/FDOS/edlin.git
[submodule "components/jwasm"]
	path = components/jwasm
	url = https://github.com/nakatamaho/JWasm.git
	branch = m18-corresponding-source-notice
